.idea/
.mtj.tmp/
.vscode/
bin/
build/
draft/
out/

*.bak
*.class
*.ctxt
*.ear
*.gradle
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
